<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <style>
        body {
            padding-top: 0px !important;
        }

        .navbar {
            padding: 5px;
            overflow: hidden;
            background-color: teal !important;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar-brand {
            font-size: 30px;
            font-weight: bolder;
        }

        .NavLinks {
            text-decoration: none;
            color: white;
            padding-right: 10px;
            font-size: 20px;
        }

        .nav-content a {
            padding: 10px;
        }

            .nav-content a:hover {
                background-color: #51bdae;
                border-radius: 5px;
            }

        .active {
            background-color: #51bdae;
            border-radius: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            var menuLi = $("#hdnMenuCode").val();
            $('#' + menuLi + '').addClass('active')
            //$('.navbar-nav').find('[href="' + window.location.pathname + '"]').addClass('active')
        });
    </script>
</head>
<body>
    <div class="navbar sticky-lg-top" >
        <div class="container">
            <div class="logo">
                <a href="@Url.Action( "Index","Home")">
                    <img src="~/Content/images/IMS.png"   />
                </a>
            </div>
            <div class="navbar nav-content">

                @if (User.Identity.IsAuthenticated)
                {

                    @Html.ActionLink("Products", "DisplayProduct", "Product", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "Product" })
                    @Html.ActionLink("Purchase Product", "DisplayPurchase", "Purchase", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "Purchase" })
                    @Html.ActionLink("Sale Product", "DisplaySale", "Sale", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "Sale" })

                    @Html.ActionLink("Role Master", "Index", "Roles", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "Roles" })
                    @Html.ActionLink("Form Master", "Index", "Form", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "Form" })
                    @Html.ActionLink("User Master", "DisplayUserRoleMapping", "UserMst", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;", id = "UserMst" })

                    @Html.ActionLink("Logout", "LogOff", "Account", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;" })
                }
                else
                {
                    @Html.ActionLink("Register", "Register", "Account", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;" })
                    @Html.ActionLink("Login", "Login", "Account", null, new { @Style = "color:white;text-decoration:none; font-size:20px; padding-right:20px;" })
                }
            </div>
        </div>
    </div>

    <div class="container body-content ">
        @RenderBody()
    </div>
    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - All Right Received</p>
    </footer>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
















