@model IEnumerable<IMS.DataAccess.Database.Purchase>

@{
    ViewBag.Title = "DisplayPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <h2>Purchase List</h2>
    </div>
    <div class="col-8">
        <div class="col-md-12 text-right">
            @Html.ActionLink("Create New", "PurchaseProduct", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
</div>
<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Quntity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_date)
                </th>
                <th>@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_Quntity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdatePurchase", new { id = item.id }, new { @class = "btn btn-outline-info" })
                        @Html.ActionLink("Delete", "DeletePurchase", new { id = item.id }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<input type="hidden" id="hdnMenuCode" value="Purchase" />