@model IEnumerable<IMS.DataAccess.Database.Sale>

@{
    ViewBag.Title = "DisplaySale";
}
<div class="row">
    <div class="col-4">
        <h2>Sale List</h2>
    </div>
    <div class="col-8">
        <div class="col-md-12 text-right">
            @Html.ActionLink("Create New", "SaleProduct", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sale_Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sale_Quntity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sale_date)
                </th>
                <th>@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale_Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale_Quntity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale_date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateSale", new { id = item.id }, new { @class = "btn btn-outline-info" })

                        @Html.ActionLink("Delete", "DeleteSale", new { id = item.id }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<input type="hidden" id="hdnMenuCode" value="Sale" />