@model IMS.Model.FormModel
@using IMS.Model
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<section class="section">
    <div class="container">
        @{
            string formCode = AuthorizeFormAccess.FormAccessCode.FORM_MASTER.ToString();
            if (Model.Id > 0)
            {
                ViewBag.Title = " Edit Form";
            }
            else
            {
                ViewBag.Title = "Add Form";
            }
        }
        @Html.Hidden("hdnFormAccessCode", formCode)

        @using (Html.BeginForm("Create", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="coman_content">
                <!--This is Title div -->
                <div class="subheader">
                    <div class="left_title">
                        @if (Model.Id > 0)
                        {
                            <h4>Edit Form</h4>
                        }
                        else
                        {
                            <h4>Add Form</h4>
                        }
                    </div>
                </div>
                <br />
                <!--END Title div-->
                <div class="content_box">
                    <div class="common_white_box">
                        <div class="form_element">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form_input_box">
                                        <div class="form-group">
                                            <label class="required">Name </label>
                                            <div class="input_box">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_input_box">
                                        <div class="form-group">
                                            <label class="required">Form Access Code</label>
                                            <div class="input_box">
                                                @if (Model.Id > 0)
                                                {
                                                    @Html.TextBoxFor(model => model.FormAccessCode, new { @class = "form-control", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.FormAccessCode, new { @class = "form-control", @style = "text-transform:uppercase" })
                                                }
                                                @Html.ValidationMessageFor(model => model.FormAccessCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_input_box">
                                        <div class="form-group">
                                            <label for="">@Html.LabelFor(model => model.NavigateURL)</label>
                                            <div class="input_box">
                                                @Html.TextBoxFor(model => model.NavigateURL, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_input_box">
                                        <div class="form-group">
                                            <label for="">Display Order</label>
                                            <div class="input_box">
                                                @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="form-check-label" for="">Is Display Menu</label>
                                        <div class="form-check form-switch">
                                            @Html.CheckBoxFor(model => model.IsDisplayMenu, new { @class = "form-check-input", @checked = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-check-label" for="">Active</label>
                                        <div class="form-check form-switch">
                                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", @checked = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button_div">
                                <div class="form-group">
                                    <label for="">&nbsp;</label>
                                    <div class="input_box">
                                        <button type="submit" class="btn btn-outline-success btn-md" id="Form" style="margin-top: 0px;">Submit</button>
                                        <a href="@Url.Action("Index", "Form")" class="btn btn-outline-danger float-right right btn-md">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <input type="hidden" id="hdnMenuCode" value="Form" />
</section>


<script type="text/javascript">
    $(function () {
        $("#Form").chosen();
    });

</script>

