@model IEnumerable<IMS.Model.FormModel>
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   
</style>

    <div class="row">
        <div class="col-4">
            <h2>Manage Forms</h2>
        </div>
        <div class="col-8">
            <div class="col-md-12 text-right">
                <a href="@Url.Action("Create","Form")" class="btn btn-outline-primary">Create New</a>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().FormAccessCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().NavigateURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DisplayOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IsDisplayMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IsActive)
                    </th>
                    <th width="150" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr >
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormAccessCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NavigateURL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayOrder)
                        </td>
                        <td>
                            @if (@item.IsDisplayMenu)
                            {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="16"></div>}
                            else
                            { <div class=""><img src="~/Content/images/close.png" alt="edit" width="16"></div>}
                        </td>
                        <td>
                            @if (@item.IsActive)
                            {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="16"></div>}
                            else
                            { <div class=""><img src="~/Content/images/close.png" alt="edit" width="16"></div>}
                        </td>
                        <td>
                            <div class="action-icons">
                                <a href="@Url.Action("Create", "Form", new { Id = item.Id })"><img src="~/Content/images/edit.png" alt="edit" width="16"></a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
            </table>
    </div>
<input type="hidden" id="hdnMenuCode" value="FormMaster" />