@model IMS.DataAccess.Database.webpages_Roles

@{
    ViewBag.Title = "CreateRole";
}

<h2>Create Role</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.RoleCode, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoleCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoleCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="form-check-label" for="">Active</label>
        <div class="form-check form-switch">
            @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", @checked = "true" })
        </div>
    </div>
     
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-outline-success" />
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-outline-primary" })
        </div>
    </div>
</div>
}
<input type="hidden" id="hdnMenuCode" value="RoleMaster" />

